@import "tailwindcss";

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

@keyframes looping{ 
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.animate-shine {
  animation: shine 5s linear infinite;
}

.animate-looping {
  animation: looping 5s linear infinite;
}